        <section class="section service-area dark-bg overflow-hidden ptb_100">
            <div class="container mt-5">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6 order-2 order-lg-1">
                        <!-- Service Text -->
                        <div class="service-text pt-4 pt-lg-0">
                            <span class="section-span">About OCTI VAULT</span>
                            <h2 style="font-size: 2.2em;" class="text-capitalize mb-4">The first flexible, affordable, and accessible power bank smart rental service in Egypt</h2>
                            <p class="mb-4">Octi Vault Inc.
                                is Egypt based company that provides
                                a charge-on-the-go service for smartphones and 
                                other devices. We offer an IoT-based innovative solution to 
                                ensure that everyone has access to a charged phone & device everywhere, and at all times.
                            </p>
                            <p>Our product benefits both merchants and customers.
                                We provide the public an affordable, reliable, and convenient way to charge smartphones. 
                                OCTI portable chargers takes the headache of charging customers’ phones and allows 
                                venues to focus on what they do best. It’s the fastest and most convenient solution for 
                                people who are on-the-go and need to recharge their battery.
                            </p>


                            <a href="contact.html" class="btn appmax-btn mt-4">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-1 order-lg-2 d-none d-lg-block">
                        <!-- Service Thumb -->
                        <div class="service-thumb mx-auto">
                            <img src="images/content/home-mobile.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>