      <!--====== Preloader Area Start ======-->
    <div id="loader">
      <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <img src="/public/images/logo/logo.svg" alt="logo" />
      </div>
    </div>
    <!--====== Preloader Area End ======-->

    <div style="position: fixed; top: 0px; left: 0px">
      <img src="/public/images/shapes/circle-white-2.svg" alt="" />
    </div>

    <!--====== Scroll To Top Area Start ======-->
    <div id="scrollUp" title="Scroll To Top">
      <i class="fas fa-arrow-up"></i>
    </div>