    <!-- ***** Download Area Start ***** -->
    <section class="section download-area overlay-dark ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!-- Download Text -->
                    <div class="download-text text-center">
                        <h2 class="text-white">Download OCTI App</h2>
                        <p class="text-white my-3 d-none d-sm-block">
                            Egypt&apos;s first phone charging network Octi Vault gives you
                            power on demand through its network of portable power banks.
                            Whilst providing venues with a unique marketing tool that
                            drives footfall and increases dwell time. Octi App is
                            available for all devices , Download the app to find your
                            nearest location!
                        </p>
                        <p class="text-white my-3 d-block d-sm-none">
                            Egypt&apos;s first phone charging network Octi Vault gives you
                            power on demand through its network of portable power banks.
                            Whilst providing venues with a unique marketing tool that
                            drives footfall and increases dwell time. Octi App is
                            available for all devices , Download the app to find your
                            nearest location!
                        </p>
                        <!-- Store Buttons -->
                        <div class="button-group store-buttons d-flex flex-wrap justify-content-center">
                            <!-- <a class="btn btn-yellow media d-none d-lg-flex" href="#">
                                    <i class="fab fa-windows fa-2x align-self-center"></i>
                                    <span class="store-btn-content media-body pl-3">
                                        <span class="d-block mb-2">Download for</span>
                                        <span>Windows</span>
                                    </span>
                                </a> -->
                            <a class="btn btn-yellow media" href="#">
                                <i class="fab fa-google-play fa-2x align-self-center"></i>
                                <span class="store-btn-content media-body pl-3">
                                    <span class="d-block mb-2">Download for</span>
                                    <span>Google Play</span>
                                </span>
                            </a>
                            <a class="btn btn-yellow media" href="#">
                                <i class="fab fa-apple fa-2x align-self-center"></i>
                                <span class="store-btn-content media-body pl-3">
                                    <span class="d-block mb-2">Download for</span>
                                    <span>App Store</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Download Area End ***** -->