    <section id="features" class="section promo-area dark-bg ptb_100">
        <div class="section-heading text-center">
            <h2 class="text-capitalize">Features</h2>
            <!-- <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p> -->
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Promo -->
                    <div class="single-promo text-center bg-inherit p-4">
                        <img style="width: 100px; margin-bottom: 1em" src="/images/icon/icon-convinient.svg" />
                        <!-- Promo Text -->
                        <div class="promo-text mt-2">
                            <h3 class="mb-2">Convenient</h3>
                            <p>
                                You can find OCTI Power Banks in many of your favorite
                                spots. You can return a power bank to any OCTI station in
                                the city Charge your devices anywhere, anytime
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Promo -->
                    <div class="single-promo text-center bg-inherit p-4">
                        <img style="width: 100px; margin-bottom: 1em" src="/images/icon/icon-compatible.svg" />
                        <!-- Promo Text -->
                        <div class="promo-text mt-2">
                            <h3 class="mb-2">Compatible</h3>
                            <p>
                                Octi Vault power banks are offered with pre-attached cables
                                lightning cable (iPhone), USB-C cable, and MicroUSB
                                Certified with CE, FCC and CB safety marks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Promo -->
                    <div class="single-promo text-center bg-inherit p-4">
                        <img style="width: 100px; margin-bottom: 1em" src="/images/icon/icon-green.svg" />
                        <!-- Promo Text -->
                        <div class="promo-text mt-2">
                            <h3 class="mb-2">Clean</h3>
                            <p>
                                Reducing the demand on the planet’s Lithium resources, by
                                sharing. All our power banks are recycled at the end of use.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Promo -->
                    <div class="single-promo text-center bg-inherit p-4">
                        <img style="width: 100px; margin-bottom: 1em" src="/images/icon/icon-cost.svg" />
                        <!-- Promo Text -->
                        <div class="promo-text mt-2">
                            <h3 class="mb-2">Affordable</h3>
                            <p>
                                The cost of renting a power bank is affordable and low price
                                Save your money! It is more economical to rent a power bank
                                than buying or owning one
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>