    <footer class="footer-area dark-bg">
      <!-- Footer Top -->
      <div class="footer-top ptb_100">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <!-- Footer Items -->
              <div class="footer-items">
                <!-- Logo -->
                <a class="navbar-brand" href="/">
                  <img class="logo" src="/public/images/logo/logo-line-yellow.svg" alt="" />
                </a>
                <p class="mt-2 mb-3" style="max-width: 300px">
                  Even at 5% battery, we want you to feel comfortable. We aim
                  to build the easiest, cheapest, and most accessible charging
                  solution ever seen.
                </p>
                <!-- Social Icons -->
                <div class="social-icons d-flex">
                  <a class="facebook" href="https://www.facebook.com/octivault">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <!-- Footer Items -->
              <div class="footer-items">
                <!-- Footer Title -->
                <h3 class="footer-title mb-2">Company</h3>
                <ul>
                  <li class="py-2"><a href="/about">About Us</a></li>
                  <li class="py-2">
                    <a href="/partner">For Partners</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <!-- Footer Items -->
              <div class="footer-items">
                <!-- Footer Title -->
                <h3 class="footer-title mb-2">Support</h3>
                <ul>
                  <li class="py-2">
                    <a href="/terms">Terms &amp; Conditions</a>
                  </li>
                  <li class="py-2">
                    <a href="/privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="py-2"><a href="/contact">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Copyright Area -->
              <div
                class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                <!-- Copyright Left -->
                <div class="copyright-left">
                  &copy; Copyrights 2021 Octivault All rights reserved.
                </div>
                <!-- Copyright Right -->
                <div class="copyright-right">
                  Made with <i class="fas fa-heart"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>