<section id="features" class="dark-bg section promo-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Become a Partner</h2>
                    <p class="d-none d-sm-block mt-4">Being an Octi Vault partner is absolutely free, and it entails us
                        taking
                        care of all customer support, installation, and station refills as needed. We are now trying to
                        form
                        partnership with a variety of venues across Egypt.</p>
                    <!-- <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Promo -->
                <div class="single-promo p-4">
                    <i class="pe-7s-plug"></i>
                    <!-- Promo Text -->
                    <div class="promo-text mt-3">
                        <h3 class="mb-2">Charging Service</h3>
                        <p>Customers charge their phone without
                            needing to leave it
                            somewhere
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Promo -->
                <div class="single-promo p-4">
                    <!-- <i class="pe-7s-graph"></i> -->
                    <img style="width: 50px; height: 50px" src="/public/images/icon/waiter.png" alt="" />
                    <!-- Promo Text -->
                    <div class="promo-text mt-3">
                        <h3 class="mb-2">Serve Your Customer</h3>
                        <p>Staff Focus on their tasks and
                            refer to the station for
                            charging needs
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Promo -->
                <div class="single-promo p-4">
                    <img style="width: 30px; height: 50px" src="/public/images/icon/phone.png" alt="" />
                    <!-- Promo Text -->
                    <div class="promo-text mt-3">
                        <h3 class="mb-2">Application Presented</h3>
                        <p>Venue is presented on our app
                            with thousands of weekly
                            users
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Promo -->
                <div class="single-promo p-4">
                    <img style="width: 50px; height: 50px" src="/public/images/icon/tag.png" alt="" />
                    <!-- Promo Text -->
                    <div class="promo-text mt-3">
                        <h3 class="mb-2">Vouchers</h3>
                        <p>Venue can use
                            Octi App vouchering system
                            to promote its
                            specials & products.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>