<section class="dark-bg section discover-area overflow-hidden">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 order-2">
                <!-- Discover Text -->
                <div class="discover-text px-0 px-lg-4 pt-4 pt-lg-0">
                    <div class="pb-5">
                        <h2 style="font-size: 2.2em;" class="pt-5 pb-4">A station for any venue size</h2>
                        <p>Our Mimic stations are perfect for Restaurants, Bars, Coffee Shops, Conference venues, Front
                            desks.
                        </p>
                    </div>
                    <div class="d-flex" style="padding-bottom: 20px;">
                        <button id="showMimic" onclick="toggleStation('mimic')"
                            class="btn btn-outline square active">Mimic</button>
                        <button id="showDumbo" onclick="toggleStation('dumbo')"
                            class="btn btn-outline square">Dumbo</button>
                    </div>
                    <!-- START STATION MIMIC -->
                    <div class="mimic stations">
                        <span style="font-size: 2em; padding: 1em 1em">12 Slots</span>
                        <table>
                            <tr>
                                <td style="width: 130px !important; font-weight: bold;" class="pb-4">PERFECT FIT</td>
                                <td>It can be placed easily on any flat surface without taking to much space </td>
                            </tr>

                            <tr>
                                <td style="width: 130px !important; font-weight: bold;" class="pb-4">CONVENIENT </td>
                                <td>Light weight, making it easy to move around</td>
                            </tr>

                            <tr>
                                <td style="width: 130px !important; font-weight: bold;" class="pb-4">BRANDING </td>
                                <td>The screens can display branded content and the stations can be wrapped for a
                                    sponsorship
                                    partner</td>
                            </tr>

                            <tr>
                                <td style="width: 130px !important; font-weight: bold;" class="pb-4">SELF SERVICE</td>
                                <td>Our stations are fully automated, leaving your staff to do what they do best.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- END STATION MIMIC -->

                    <!-- START STATION DUMBO -->
                    <div class="dumbo d-none stations">
                        <span style="font-size: 2em; padding: 1em 1em">24 Slots</span>
                        <table>
                            <tr>
                                <td style="width: 130px !important; font-weight: bold;" class="pb-4">FREE STANDING</td>
                                <td>This free-standing station requires no mounting or install, just a power outlet</td>
                            </tr>

                            <tr>
                                <td style="width: 130px !important; font-weight: bold;" class="pb-4">BRANDING</td>
                                <td>The screens can display branded content and the stations can be wrapped for a
                                    sponsorship
                                    partner</td>
                            </tr>

                            <tr>
                                <td style="width: 130px !important; font-weight: bold;" class="pb-4">SELF SERVICE</td>
                                <td>Our stations are fully automated, leaving your staff to do what they do best.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- END STATION DUMBO -->

                    <!-- 

                <ul class="check-list">
                  <li class="py-1">
                    <div class="list-box media">
                      <span class="media-body pl-4">
                        Customers can charge their phone while keeping it with them
                      </span>
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="list-box media">
                      <span class="media-body pl-4">
                        Staff can focus on their tasks without distractions
                      </span>
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="list-box media">
                      <span class="media-body pl-4"
                        >
                            Your venue is promoted to thousands of users
                        </span
                      >
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="list-box media">
                      <span class="media-body pl-4"
                        >Vouchers available on app to promote your specials
                      </span>
                    </div>
                  </li>
                </ul> -->


                </div>
            </div>
            <div class="col-12 col-lg-6 order-1" style="padding: 20px 0px; display: flex; align-items: center;">
                <!-- Discover Thumb -->
                <div class="service-thumb discover-thumb mx-auto text-center"
                    style="display: flex !important; align-items: center;">
                    <div style="background-color: #f9e71a; padding: 105px 60px; border-radius: 0 0 50% 50%/0 0 0% 20%;">
                        <img class="dumbo d-none" src="/images/Dumbo.png" alt="" style="transform: scale(1.2);" />
                        <img class="mimic" src="/images/Mimic.png" alt="" style="transform: scale(1.2);" />
                    </div>
                </div>
                <!-- <div class="d-lg-none service-thumb discover-thumb mx-auto text-center" style="">
                <img src="/images/Dumbo.png" alt="" style="transform: scale(0.8);" />
              </div> -->
            </div>
        </div>
    </div>
</section>