{{{_editable}}}
<!-- SECTION TOP PADDING -->
<div class="d-lg-none dark-bg" style="padding-top: 80px;">
    &nbsp;
</div>
<div class="d-none d-lg-block dark-bg" style="padding-top: 150px;">
    &nbsp;
</div>

<section class="dark-bg section discover-area overflow-hidden">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 order-2">
                <!-- Discover Text -->
                <div class="discover-text px-0 px-lg-4 pt-4 pt-lg-0">
                    <div class="pb-5">
                        <h2 style="font-size: 2.2em;" class="pt-5 pb-4">A station for any
                            venue size</h2>
                        <p>Our Mimic stations are perfect for Restaurants, Bars, Coffee
                            Shops, Conference venues, Front desks.
                        </p>
                    </div>
                    <div style="padding-bottom: 20px;">

                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline square active" id="pills-Mimic-tab"
                                    data-toggle="pill" href="#pills-Mimic" role="tab" aria-controls="pills-Mimic"
                                    aria-selected="true">Mimic</a>
                            </li>
                            <li class="nav-item">
                                {{! <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a> }}
                                <button id="pills-profile-tab" class="btn btn-outline square nav-link"
                                    data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                                    aria-selected="false">dumbo</button>
                            </li>
                            <li class="nav-item">
                                {{! <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                    role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a> }}
                            </li>
                        </ul>
                    </div>
                    <!-- START STATION MIMIC -->

                    <div class="tab-content" id="pills-tabContent">
                        <div class="mimic tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">

                            <span style="font-size: 2em; padding: 1em 1em">12 Slots</span>
                            <table>
                                <tr>
                                    <td style="width: 130px !important; font-weight: bold;" class="pb-4">PERFECT FIT
                                    </td>
                                    <td>It can be placed easily on any flat surface without taking
                                        to much space
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 130px !important; font-weight: bold;" class="pb-4">CONVENIENT
                                    </td>
                                    <td>Light weight, making it easy to move around</td>
                                </tr>

                                <tr>
                                    <td style="width: 130px !important; font-weight: bold;" class="pb-4">BRANDING </td>
                                    <td>The screens can display branded content and the stations
                                        can be wrapped for a sponsorship partner</td>
                                </tr>

                                <tr>
                                    <td style="width: 130px !important; font-weight: bold;" class="pb-4">SELF SERVICE
                                    </td>
                                    <td>Our stations are fully automated, leaving your staff to do
                                        what they do best.</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <span style="font-size: 2em; padding: 1em 1em">25 Slots</span>
                            <table>
                                <tr>
                                    <td style="width: 130px !important; font-weight: bold;" class="pb-4">PERFECT FIT
                                    </td>
                                    <td>It can be placed easily on any flat surface without taking
                                        to much space
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 130px !important; font-weight: bold;" class="pb-4">CONVENIENT
                                    </td>
                                    <td>Light weight, making it easy to move around</td>
                                </tr>

                                <tr>
                                    <td style="width: 130px !important; font-weight: bold;" class="pb-4">BRANDING </td>
                                    <td>The screens can display branded content and the stations
                                        can be wrapped for a sponsorship partner</td>
                                </tr>

                                <tr>
                                    <td style="width: 130px !important; font-weight: bold;" class="pb-4">SELF SERVICE
                                    </td>
                                    <td>Our stations are fully automated, leaving your staff to do
                                        what they do best.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- END STATION MIMIC -->

                    <!-- START STATION DUMBO -->

                    <!-- END STATION DUMBO -->

                    <!-- 

                <ul class="check-list">
                  <li class="py-1">
                    <div class="list-box media">
                      <span class="media-body pl-4">
                        Customers can charge their phone while keeping it with them
                      </span>
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="list-box media">
                      <span class="media-body pl-4">
                        Staff can focus on their tasks without distractions
                      </span>
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="list-box media">
                      <span class="media-body pl-4"
                        >
                            Your venue is promoted to thousands of users
                        </span
                      >
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="list-box media">
                      <span class="media-body pl-4"
                        >Vouchers available on app to promote your specials
                      </span>
                    </div>
                  </li>
                </ul> -->

                </div>

            </div>
            <div class="col-12 col-lg-6 order-1" style="padding: 20px 0px; display: flex; align-items: center;">
                <!-- Discover Thumb -->
                <div class="service-thumb discover-thumb mx-auto text-center"
                    style="display: flex !important; align-items: center;">
                    <div style="background-color: #f9e71a; padding: 105px 60px; border-radius: 0 0 50% 50%/0 0 0% 20%;">
                        <img class="dumbo d-none" src="/images/Dumbo.png" alt="" style="transform: scale(1.2);" />
                        <img class="mimic" src="/images/Mimic.png" alt="" style="transform: scale(1.2);" />
                    </div>
                </div>
                <!-- <div class="d-lg-none service-thumb discover-thumb mx-auto text-center" style="">
                <img src="/images/Dumbo.png" alt="" style="transform: scale(0.8);" />
              </div> -->
            </div>
        </div>
    </div>
</section>