<div class="">
    <!-- ***** Welcome Area Start ***** -->
    {{>indexWelcomeStartArea}}
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** HOW IT WORKS ***** -->
    {{>indexHowItWork}}
    <!-- ***** HOW IT WORKS END ***** -->

    <!-- ***** Features Area Start ***** -->
    {{>indexFeatures}}
    <!-- ***** Features Area End ***** -->

    <!-- ***** Price Plan Area Start ***** -->
    {{>indexPricePlans}}
    <!-- ***** Price Plan Area End ***** -->

    <!-- ***** FAQ Area Start ***** -->
    {{>indexFAQ}}
    
    <!-- ***** FAQ Area End ***** -->

    <!-- ***** Partners Area Start ***** -->
    {{>indexPartner}}
    <!-- ***** Partners Area End ***** -->

    <!-- ***** Download Area Start ***** -->
    {{>downloadApp}}
    <!-- ***** Download Area End ***** -->
</div>