
    <!-- SECTION TOP PADDING -->
    <div class="d-lg-none dark-bg" style="padding-top: 80px;">
      &nbsp;
    </div>
    <div class="d-none d-lg-block dark-bg" style="padding-top: 150px;">
      &nbsp;
    </div>

    <!-- ***** STATIONS - SECTION Start ***** -->
    {{>partnerStation}}
    <!-- ***** STATIONS - SECTION End ***** -->

    <!-- ***** PARTNER - SECTION Start ***** -->
    {{>partnerFeatures}}
    <!-- ***** PARTNER - SECTION End ***** -->

    <!--====== Contact Area Start ======-->
    {{>partnerSendMessage}}
    <!--====== Contact Area End ======-->

    <!-- ***** Download Area Start ***** -->
    {{>downloadApp}}
    <!-- ***** Download Area End ***** -->