
        <!--====== Terms Area START ======-->
        <section class="section dark-bg faq-area ptb_100 terms">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-7">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2 class="text-capitalize">Terms &amp; Conditions</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        
                        <p>These terms of use represent an agreement (“The Agreement”) entered between you (“You”) and OCTI VAULT and sets forth the legally binding terms and conditions for Your use of the Services (“The Services”) provided by OCTI VAULT. The purpose of this Agreement is to regulate the Services provided by OCTI VAULT, which is to provide Powerbank rental services to You in accordance with The Agreement.</p>
                        <p>For Your use of the Services OCTI VAULT requires that You agree to all the terms and conditions in The Agreement,  “The Services” means the Charging Stations, the Powerbanks and the OCTI VAULT App and its related services as described in OCTI VAULT App, together with any other related information made available by OCTI VAULT.</p>
                        <p>“OCTI VAULT App” means the software applications accessible via mobile device and by which You may gain access the Charging Stations and the Powerbanks.</p>
                        Other languages

                        <h2>1. General</h2>
                        <h3>1.1 Parties to the Agreement</h3>
                        <p>You and OCTI VAULT are the sole parties to The Agreement. You are the sole user of the Services and thereby You are solely responsible for compliance with all terms and conditions set out in The Agreement. </p>
                        <h3>1.2 You acknowledge and agree that:</h3>
                        <p>You are at least 18 years of age.</p>
                        <p>You are familiar with the safe and competent operation of a Powerbank.</p>
                        <p>You will use the Charging Stations and the Powerbanks with care and shall not damage them. You are responsible for any damage caused to the Charging Stations or the Powerbanks by your or any third parties improper use of them. </p>
                        <p>You agree that the Services at all times remain OCTI VAULT property.</p>
                        <p>You are aware that the numbers of Charging Stations and Power banks are limited and that charging availability is never guaranteed. Access to the Services may also be limited or restricted due to maintenance, force majeure and other circumstances preventing OCTI VAULT from providing The services.
                        <h3>1.3 How to use The Services</h3>

                        <p>To rent a Powerbank you have to take the following steps:</p>
                        <ul>
                        <li>Download the OCTI VAULT App from Apple App Store or Google Play Store. </li>
                        <li>Login by using your telephone number and then complete the registration steps. Once your account is created you will then see the app homepage at which you can click on the navigation icon which then shows a map showing your position and the positions of OCTI VAULT Charging Stations. At the Charging Station you open the QR-scanner and scan the Charging Stations QR-code then you can use the released power bank</li>
                        <li>OCTI VAULT will charge you from 30 EGP per starting hour. If the power bank is kept with you for more than 6 hours you will be charged by a flat rate of 180 EGP for a complete day. Fees can be different on different Stations. Your payment method is charged when you return the powerbank. All fees are subject to changes.</li>
                        </ul>
                        <h3>1.4 Unauthorized use</h3>
                        <p>You must not attempt to gain unauthorized access to the OCTI VAULT App, Charging Stations or Powerbanks for any purposes. The OCTI VAULT App, Charging Stations and Powerbanks may only be used for the purposes pursuant to The Agreement. </p>
                        <h3>1.5 Rental times</h3>
                        <p>Maximum rental time for a Powerbank is 24 hours. If the Powerbank is not returned to a Charging station within the maximum rental time OCTI VAULT will consider the Powerbank as lost and and you will be charged with an amount of EGP 400. Thereafter you can return the Powerbank at any Charging Station. OCTI VAULT will not charge You any extra fee when returning the Powerbank.</p>
                        <h3>1.6 Fees</h3>
                        <p>Your rental of a Powerbank is on a pay per charge basis or as otherwise in accordance with the pricing as described in the OCTI VAULT app and website. OCTI VAULT will charge your debit/credit card or other agreed payment methods when returning the Powerbank to a station</p>
                        <h3>1.7 Payment methods</h3>
                        <p>You must provide OCTI VAULT’s payment provider with information and details to a valid credit or debit card in order to use The Services. You represent and guarantee to OCTI VAULT that You are authorized to use any credit or debit card information You provide. You authorize OCTI VAULT to charge the provided card for all fees that You incur. All fees are subject to applicable taxes and other local government charges, which may be charged and collected by OCTI VAULT.</p>
                        <p>In order to dispute any and all charges by OCTI VAULT to the credit or debit card provided by You, You must contact OCTI VAULT within 2 weeks from the date of the disputed charge. </p>
                        <h2>2. Disclaimer</h2>
                        <p>You do hereby acknowledge and agree that Your use of The Services and operation of the Charging Stations and the Power Banks is at Your sole risk. OCTI VAULT provides the Services with no warranties whatsoever in regards to the Services. </p>
                        <p>You do hereby recognize and acknowledge that the transmission of information through telecommunications channels is unpredictable and depends on, amongst other issues, Your telecommunications operator and the proper maintenance of Your device. OCTI VAULT gives no guarantee of the continued availability of reception of The Services.</p>
                        <h2>3. Privacy</h2>
                        <p>By using the services, You acknowledge and accept that OCTI VAULT use Your personal data in accordance with the OCTI VAULT Privacy Policy, made available at https://octivault.vercel.app/privacy-policy.html</p>
                        <h2>4. Start date, cancellation and termination</h2>
                        <h3>4.1 Start date</h3>
                        <p>The Agreement enters into force between You and OCTI VAULT from the first time You use The Services.</p>
                        <h3>4.2 Cancellation</h3>
                        <p>You may uninstall the OCTI VAULT App at any time. The Agreement is in force for as long as You use The Services and ends 10 years after Your last use of The Services.</p>
                        <h3>4.3 Termination of The Agreement by OCTI VAULT </h3>
                        <p>OCTI VAULT may at any time and for any or no reason terminate your right to use the Services, without Your consent and without any notice or cause. This Agreement remains in full force and effect, in accordance with its terms and conditions, after any termination of your right to use the Services, regardless of how The Agreement is terminated.</p>
                        <h2>5. Disputes</h2>
                        <p>Any and all disputes regarding the agreement shall be made in written form to the contact information given in Article 6 below.</p>
                        <h2>6. Contact</h2>
                        <p>OCTI VAULT can be contacted by emailing info@octivault.com.</p>
                        <h2>7. Governing law and jurisdiction</h2>
                        <p>You agree that any disputes arising out of or relating to the agreement, the breach thereof, or the subject matter thereof shall be governed per the laws of Egypt and be settled exclusively by the Egyptian courts.</p>
                        <h2>8. Final agreement and modifications</h2>
                        <p>You acknowledge that The agreement contains the complete and final agreement between You and OCTI VAULT. 
                        This Agreement supersedes all other prior agreements, written or oral. At any time and from time to time, and without Your consent, OCTI VAULT may unilaterally amend, modify, or change The Agreement, in its sole discretion and without any prior notice or cause. By continuing to use The Services after any amendment, modification, or change, You have agreed to be bound by all such amendments, modifications, and changes. You must carefully review The Agreement on a regular basis to maintain awareness of all amendments, modifications, and changes. The fees set forth in the OCTI VAULT App supersede all fees set forth in The Agreement.</p>
                        <h2>9. Voluntary execution of this agreement</h2>
                        <p>You acknowledge that You voluntarily have read The Agreement, understand the terms and consequences of The Agreement, and You are fully aware of the legal and binding effect of The Agreement.</p>
                    </div>
                </div>
            </div>
        </section>
        <!--====== Terms Area End ======-->
